<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
</head>
<body>

<h1>Checkout</h1>
<hr>

<h3><%= listing.title %></h3>

  <p><strong>Type:</strong> <%= listing.room_type %></p>
  <p><strong>Region:</strong> <%= listing.region %></p>
  <p><strong>Location:</strong> <%= listing.location %></p>
  <p><strong>Gender:</strong> <%= listing.gender %></p> 
  <p><strong>Roommates:</strong> <%= listing.roommates %></p> 
  <p><strong>Price:</strong> $<%= listing.price %>/month</p>
  <p>
    <strong>Amenities:</strong>
    <% if (listing.amenities && listing.amenities.length > 0) { %>
      <%= listing.amenities.join(", ") %>
    <% } else { %>
      None
    <% } %>
  </p>

  <p><strong>Description:</strong> <%= listing.description %></p>
</div>




<form action="/wishlist/checkout/submit" method="POST">
  <input type="hidden" name="listingId" value="<%= listing._id %>">

  Name:
  <input type="text" name="name" required>
  <br><br>

  Email:
  <input type="email" name="email" required>
  <br><br>

  Phone:
  <input type="text" name="phone" required>
  <br><br>

  Message:
  <textarea name="message" placeholder="Send a Message"></textarea>
  <br><br>

  <button type="submit">Submit Request</button>
</form>

</body>
</html>