<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
</head>
<body>

<h1>Checkout</h1>
<hr>

<p><strong><%= listing.title %></strong></p>
<p></p>
<p>Price: $<%= listing.price %></p>
<p>Region : <%= listingItem.region %></p>
<p>Location: <%= listing.location %></p>
<p>Roomtype : <%= listingItem.room_type %></p>
<p>Roommates: <%= listingItem.roommates %></p>
<p>Description: <%= listing.description %></p>
<p>Gender: </p>

<p>Amenities
  <% if (listingItem.amenities && listingItem.amenities.length > 0) { %>
        <%= listingItem.amenities.join(", ") %>
    <% } else { %>
          None
  <% } %></p>




<form action="/wishlist/checkout/submit" method="POST">
  <input type="hidden" name="listingId" value="<%= listing._id %>">

  Name:
  <input type="text" name="name" required>
  <br><br>

  Email:
  <input type="email" name="email" required>
  <br><br>

  Phone:
  <input type="text" name="phone" required>
  <br><br>

  Message:
  <textarea name="message" placeholder="Send a Message"></textarea>
  <br><br>

  <button type="submit">Submit Request</button>
</form>

</body>
</html>