<!DOCTYPE html>
<html>
<head>
  <title>Checkout</title>
</head>
<body>

<h1>Checkout</h1>
<hr>

<p><strong><%= listing.title %></strong></p>
<p>Price: $<%= listing.price %></p>
<p>Location: <%= listing.location %></p>
<p><%= listing.description %></p>
<p>
   <table border="0">
        <tr>
            <td>
            <% if (item.listing.images && item.listing.images[0]) { %>
                <img src="<%= listingItem.images[0] %>" alt="<%= listingItem.title %> image 1">
              <% } %>
            </td>
            <td>
              <% if (item.listing.images && item.listing.images[1]) { %>
                <img src="<%= listingItem.images[1] %>" alt="<%= listingItem.title %> image 2">
              <% } %>
            </td>
            <td>
              <% if (item.listing.images && item.listing.images[2]) { %>
                <img src="<%= listingItem.images[2] %>" alt="<%= listingItem.title %> image 3">
              <% } %>
            </td>
        </tr>
    </table>   
</p>

<form action="/wishlist/checkout/submit" method="POST">
  <input type="hidden" name="listingId" value="<%= listing._id %>">

  Name:
  <input type="text" name="name" required>
  <br><br>

  Email:
  <input type="email" name="email" required>
  <br><br>

  Phone:
  <input type="text" name="phone" required>
  <br><br>

  Message:
  <textarea name="message" placeholder="Send a Message"></textarea>
  <br><br>

  <button type="submit">Submit Request</button>
</form>

</body>
</html>