<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <% if (msg) { %>
      <p style="color: red">Error: <%= msg %></p>
    <% } %>

    
    <form action="/signup-form" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <td>
            Username:
          </td>
          <td>
            <input type="text" name="username" value="<%= username ? username : ""%>" required>
          </td>
        </tr>
        <tr>
          <td>
            Password:
          </td>
          <td>
            <input type="password" name="password" required>
          </td>
        </tr>
        <tr>
          <td>
            Confirm Password:
          </td>
          <td>
            <input type="password" name="confirmPassword" required>
          </td>
        </tr>
        <tr>
          <td>
            Full Name:
          </td>
          <td>
            <input type="text" name="fullName" value="<%= fullName ? fullName : ""%>" required>
          </td>
        </tr>
        <tr>
          <td>
            Email:
          </td>
          <td>
            <input type="text" name="email" value="<%= email ? email : ""%>" required>
          </td>
        </tr>
        <tr>
          <td>
            Gender:
          </td>
          <td>
            <select name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Bio:
          </td>
          <td>
            <textarea name="bio" required><%= bio ? bio : "" %></textarea>
          </td>
        </tr>
        <tr>
          <td>
            Profile Picture:
          </td>
            <td>
              <input type="file" name="profilePicture" accept="image/*" required>
            </td>
        </tr>
      </table>

      <br>
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login-form">Login here!</a></p>
  </body>
</html>