<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <% if (msg != "") { %>
      <p style="color: red">Error: <%= msg %></p>
    <% } %>

    <form action="/signup" method="post">
        Username: <input type="text" name="username" value="<%= !username ? username : ""%>" required><br>
        Password: <input type="password" name="password" required><br>
        Full Name: <input type="text" name="fullName" value="<%= !fullName ? fullName : ""%>" required><br>
        Phone: <input type="text" name="phone" value="<%= !phone ? phone : ""%>" required><br>
        Email: <input type="text" name="email" value="<%= !email ? email : ""%>" required><br>

        Gender: 
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select><br>

        Bio: <textarea name="bio" value="<%= !bio ? bio : ""%>" required></textarea><br>
        <br>
        <button type="submit">Sign Up</button>
    </form>
  </body>
</html>