<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
  </head>
  <body>
    <h1>Your wishlist of rooms</h1>
    <hr>
    <% if (wishlist && listingArray.length > 0) { %>
      <% listingArray.forEach(item=> { %>
        <% const listingItem = item.listing %>
        <% const ranking = item.ranking %>
        <table border="0">
        <tr>
            <td colspan="2">
                <form action="/wishlist/update" method="POST">
                    <input type="hidden" name="listingId" value="<%= item.listing._id %>">

                    <label for="ranking_<%= item.listing._id %>">Ranking:</label>
                    <select name="ranking" id="ranking_<%= item.listing._id %>">
                        <option value="">-- Select Ranking --</option>
                        <% for (let i = 1; i <= listingArray.length; i++) { %>
                            <option value="<%= i %>" <%= item.ranking == i ? "selected" : "" %>><%= i %></option>
                        <% } %>
                    </select>
                    <button type="submit">Save Ranking</button>
                </form>
            </td>
              
        </tr>
          <tr>
            <td>
              <% if (item.listing.images && item.listing.images[0]) { %>
                <img src="<%= listingItem.images[0] %>" alt="<%= listingItem.title %> image 1">
              <% } %>
            </td>
            <td>
              <% if (item.listing.images && item.listing.images[1]) { %>
                <img src="<%= listingItem.images[1] %>" alt="<%= listingItem.title %> image 2">
              <% } %>
            </td>
            <td>
              <% if (item.listing.images && item.listing.images[2]) { %>
                <img src="<%= listingItem.images[2] %>" alt="<%= listingItem.title %> image 3">
              <% } %>
            </td>
          </tr>
        <tr>
            <td >
                <strong>
                    <%= listingItem.title %>
                </strong>
                
            </td>
            <td >
                <%= listingItem.price %>
            </td>
            <td>
                <%= listingItem.location %>
            </td>
        </tr>
        <tr colspan="3">
            <td >
                <%= listingItem.description %>
            </td>
            
        </tr> 
        <tr>
            <td><form action="/wishlist/delete" method="POST">
                    <input type="hidden" name="listingId" value="<%= item.listing._id %>">
                    <button type="submit">Delete Listing</button>
                </form>

            </td>    
        </tr>
        
    </table>
    <% }) %>
    <% } else { %>
      <h3>Nothing in your wishlist yet</h3>
    <% } %>

    <a href="/">Continue Searching!</a>
  </body>
</html>