<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
  </head>
  <body>
    <h1>Your wishlist of rooms</h1>
    <hr>

    <% if (wishlist && listingArray && listingArray.length > 0) { %>
      <p>Found <%= listingArray.length %> wishlist item(s)</p>
      <hr>

      <% listingArray.forEach(function(item) { %>
        <% const listingItem = item.listing; %>

        <h3><%= listingItem.title %> — <a href="/profile/<%= listingItem.landlord._id %>"><%= listingItem.landlord.username %></a></h3>
        <% if (listingItem.photos && listingItem.photos.length > 0) { %>
            <% listingItem.photos.forEach(function(photo) { %>
                <img src="/uploads/<%= photo %>" alt="<%= listingItem.title %>" width="250" height="250">
            <% }); %>
             
        <% } else { %>
          <p>No image available</p>
        <% } %>


        <form action="/wishlist/update" method="POST">
          <input type="hidden" name="listingId" value="<%= listingItem._id %>">

          <label for="ranking_<%= listingItem._id %>"><strong>Ranking:</strong></label>
          <select name="ranking" id="ranking_<%= listingItem._id %>">
            <option value="">-- Select Ranking --</option>
            <% for (let i = 1; i <= listingArray.length; i++) { %>
              <option value="<%= i %>" <%= item.ranking == i ? "selected" : "" %>>
                <%= i %>
              </option>
            <% } %>
          </select>

          <button type="submit">Save Ranking</button>
        </form>

        <p><strong>Region:</strong> <%= listingItem.region %></p>
        <p><strong>Location:</strong> <%= listingItem.location %></p>
        <p><strong>Price:</strong> $<%= listingItem.price %>/month</p>
        
        <p><strong>Room Type:</strong> <%= listingItem.room_type %></p>
        <p><strong>Owner's Gender:</strong> <%= listingItem.my_gender %></p>
        <p><strong>Roommates:</strong> <%= listingItem.roommates %></p>
        <p><strong>Description:</strong> <%= listingItem.description %></p>
        <p>
          <strong>Amenities:</strong>
          <% if (listingItem.amenities && listingItem.amenities.length > 0) { %>
            <%= listingItem.amenities.join(", ") %>
          <% } else { %>
            None
          <% } %>
        </p>

        

        <form action="/wishlist/delete" method="POST" style="display:inline;">
          <input type="hidden" name="listingId" value="<%= listingItem._id %>">
          <button type="submit">Delete Listing</button>
        </form>

    
        <p><form action="/wishlist/checkout" method="POST">
            <input type="hidden" name="listingId" value="<%= listingItem._id %>">
            <button type="submit">Proceed to Checkout</button>
      </form></p>
      <hr>
      <% }) %>

      

    <% } else { %>
      <h3>Nothing in your wishlist yet</h3>
    <% } %>

    <br>
    <a href="/">Continue Searching!</a>
  </body>
</html>